<div class="container">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Games</h2>
    </div>

    <!-- Games List -->
    <div class="card shadow-sm">
        <ul class="list-group list-group-flush">
            @if (games().length === 0) {
            <li class="list-group-item">
                <p class="mb-0">No games available. Navigate "Add New Game" to create one.</p>
            </li>
            } @else {
            @for (game of games(); track game.id) {
            <li class="list-group-item py-3 px-4 d-flex justify-content-between align-items-center game-item">
                <div>
                    <!-- Game Info -->
                    <h5 class="mb-1">{{ game.title }}</h5>
                    <div class="mt-1">
                        <span class="badge bg-secondary me-1">{{ game.genre }}</span>
                        <span class="badge bg-info text-dark me-1">Year: {{ game.releaseYear }}</span>
                        <span class="badge bg-success">Rating: {{ game.rating }}</span>
                        <button class="btn btn-sm btn-primary ms-3" [routerLink]="['/games/edit', game.id]">
                            Edit ✎
                        </button>
                        <button class="btn btn-sm btn-danger ms-1" (click)="deleteGame(game.id!)">
                            Delete 🗙
                        </button>
                    </div>
                </div>
            </li>
            }
            }
        </ul>
    </div>
</div>